<!-- <div id="home">
  <h1 class="text-secondary display-3 text-right">RENT A CAR TODAY!</h1>
  <h3 class="text-secondary display-5 text-right">
    FOR AS LOW AS $10 A DAY PLUS 15% DISCOUNT FOR OUR RETURNING CUSTOMERS
  </h3>
  <div class="text-secondary text-right">
    <a href="#" class=" btn btn-secondary btn-lg border-secondary "
      >Get Started</a
    >
  </div>
</div> -->

<div id="home" class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col">
      <h1 class="text-secondary display-3 text-center">RENT A CAR TODAY!</h1>
      <h3 class="text-secondary display-5 text-center">
        FOR AS LOW AS $10 A DAY PLUS 15% DISCOUNT FOR OUR RETURNING CUSTOMERS
      </h3>
      <div class="text-secondary text-center">
        <a href="#" class=" btn btn-secondary btn-lg border-secondary "
          >Get Started</a
        >
      </div>
    </div>
  </div>
</div>
