<div id="home" class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col align=right">
      <h1
        class="text-secondary text-center"
        style="margin-top: 20px; font-size:6vw"
      >
        RENT A CAR TODAY!
      </h1>
      <!-- <h3 class="text-secondary text-center font-size:2vw">
        FOR AS LOW AS $10 A DAY PLUS 15% DISCOUNT FOR OUR RETURNING CUSTOMERS
      </h3> -->

      <div class="text-secondary text-center">
        <a [routerLink]="['/rentalForm']" class=" btn btn-secondary btn-lg"
          >Get Started</a
        >
      </div>
    </div>
  </div>
</div>
