<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8" style="margin-top: 110px">
      <div class="list-group-item clearfix" *ngFor="let car of cars">
        <div class="float-left">
          <h4 class="list-group-item-heading text-secondary">
            {{ reservation.car.brand }}
          </h4>
          <p class="list-group-item-text text-secondary">
            Reservation ID: {{ reservation.id }}
          </p>
          <p class="list-group-item-text text-secondary">
            Price per hour: {{ reservation.car.cost }}$
          </p>

          <p class="list-group-item-text text-secondary">
            Total cost: {{ calculateTotalCost(reservation) }}$
          </p>
          <p class="list-group-item-text text-secondary">
            Pick Up Date: {{ reservation.pickUpDate }}
          </p>
          <p class="list-group-item-text text-secondary">
            Return Date: {{ reservation.returnDate }}
          </p>
          <p class="list-group-item-text text-secondary">
            Pick Up Location: {{ reservation.pickUpLocation }}
          </p>
          <p class="list-group-item-text text-secondary">
            Return Location: {{ reservation.returnLocation }}
          </p>
          <p class="list-group-item-text text-secondary">
            {{ reservation.car.description }}
          </p>
        </div>
        <span class="float-right">
          <img
            src="{{ reservation.car.imageUrl }}"
            alt="{{ reservation.car.brand }}"
            class="img-responsive"
            style="width:341.5px;height:192px;"
          />
          <br />
          <button
            class=" btn btn-secondary btn-lg"
            style="margin-top: 5px; margin-right:2px; width:168.75px"
            (click)="onUpdated()"
          >
            Update
          </button>
          <button
            class=" btn btn-secondary btn-lg"
            style="margin-top: 5px; margin-left:2px; width:168.75px"
            (click)="onDeleted()"
          >
            Delete
          </button>
        </span>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<router-outlet></router-outlet>
