/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}
body {
  min-height: 100%;
  background-image: url("https://images.alphacoders.com/447/447708.jpg");
  background-size: 100%;
}
