<div
  class="container"
  style="margin-top: 10px; margin-right:10px; margin-left: 100px"
>
  <div class="row">
    <div class="col-lg-3" style="margin-top: 20px; ">
      <form (ngSubmit)="onCheckAvailableCars()" #f="ngForm">
        <div id="reservationData">
          <div *ngIf="!updated" class="form-group">
            <label class="text-secondary" for="clientLastName">Last Name</label>
            <input
              type="text"
              id="clientLastName"
              class="form-control text-secondary"
              ngModel
              name="clientLastName"
              required
              minlength="2"
              pattern="[a-zA-Z ]*"
              #clientLastName="ngModel"
            />
            <span
              class="help-block text-secondary"
              *ngIf="!clientLastName.valid && clientLastName.touched"
              >Last Name must contain only letters!</span
            >
          </div>
          <div *ngIf="!updated" class="form-group">
            <label class="text-secondary" for="clientAge">Age</label>
            <input
              type="number"
              id="clientAge"
              class="form-control text-secondary"
              ngModel
              name="clientAge"
              required
              min="18"
              [min]="18"
              #clientAge="ngModel"
            />
            <span
              class="help-block text-secondary"
              *ngIf="!clientAge.valid && clientAge.touched"
              >Age must be over or equal to 18!</span
            >
          </div>
          <div class="form-group">
            <label class="text-secondary" for="pickUpLocation"
              >Pick Up Location</label
            >
            <input
              type="text"
              list="locations"
              id="pickUpLocation"
              class="form-control text-secondary"
              ngModel
              name="pickUpLocation"
              required
              pattern="[Dw. Łódź Kaliska|Manufaktura|Łódź Chojny|Dw. Łódź Fabryczna|Kościuszki|Retkinia|Port Łódź|Radogoszcz Zachód|Piotrkowska Centrum|Plac Dąbrowskiego|Teofilów]*"
              #pickUpLocation="ngModel"
            />
            <span
              class="help-block text-secondary"
              *ngIf="!pickUpLocation.valid && pickUpLocation.touched"
              >Location must be chosen from the list!</span
            >
          </div>
          <div>
            <input
              type="checkbox"
              id="defaultReturnLocation"
              [(ngModel)]="defaultReturnLocation"
              name="defaultReturnLocation"
            /><label class="text-secondary" for="defaultReturnLocation"
              >Return to same location</label
            >
          </div>
          <div *ngIf="!defaultReturnLocation" class="form-group">
            <label class="text-secondary" for="returnLocation"
              >Return Location</label
            >
            <input
              type="text"
              selected="Port Łódź"
              list="locations"
              id="returnLocation"
              class="form-control text-secondary"
              ngModel
              name="returnLocation"
              required
              pattern="[Dw. Łódź Kaliska|Manufaktura|Łódź Chojny|Dw. Łódź Fabryczna|Kościuszki|Retkinia|Port Łódź|Radogoszcz Zachód|Piotrkowska Centrum|Plac Dąbrowskiego|Teofilów]*"
              #returnLocation="ngModel"
            />
            <span
              class="help-block text-secondary"
              *ngIf="!returnLocation.valid && returnLocation.touched"
              >Location must be chosen from the list!</span
            >
          </div>
          <div class="form-group">
            <label class="text-secondary" for="pickUpDate">Pick Up Date</label>
            <input
              type="datetime-local"
              id="pickUpDate"
              class="form-control text-secondary"
              [(ngModel)]="date"
              name="pickUpDate"
              required
            />
          </div>
          <div class="form-group">
            <label class="text-secondary" for="returnDate">Return Date</label>
            <input
              type="datetime-local"
              id="returnDate"
              class="form-control text-secondary"
              ngModel
              name="returnDate"
              required
              [minDate]="date"
              #returnDate="ngModel"
            />
            <span
              class="help-block text-secondary"
              *ngIf="!returnDate.valid && returnDate.touched"
              >Return date must be later than pick-up date!</span
            >
          </div>
        </div>

        <div class="text-secondary text-center">
          <button
            class=" btn btn-secondary btn-lg"
            type="submit"
            [disabled]="!f.valid"
          >
            Check Available Cars
          </button>
        </div>
      </form>
    </div>

    <div class="col-lg-9">
      <app-available-cars [reservation]="reservation"></app-available-cars>
    </div>
  </div>
</div>

<datalist id="locations">
  <option>Dw. Łódź Kaliska</option>
  <option>Manufaktura</option>
  <option>Łódź Chojny</option>
  <option>Dw. Łódź Fabryczna</option>
  <option>Kościuszki</option>
  <option>Retkinia</option>
  <option>Port Łódź</option>
  <option>Radogoszcz Zachód</option>
  <option>Piotrkowska Centrum</option>
  <option>Plac Dąbrowskiego</option>
  <option>Teofilów</option>
</datalist>
