<div class="container" style="padding: 140px 0">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form (ngSubmit)="onChecked(content)" #f="ngForm">
        <div id="clientData">
          <div class="form-group">
            <label class="text-secondary" for="clientLastName">Last Name</label>
            <input
              type="text"
              id="clientLastName"
              class="form-control text-secondary"
              ngModel
              name="clientLastName"
              pattern="[a-zA-Z ]*"
              #clientLastName="ngModel"
            />
            <span
              class="help-block text-secondary"
              *ngIf="!clientLastName.valid && clientLastName.touched"
              >Last Name must contain only letters!</span
            >
          </div>
          <div class="form-group">
            <label class="text-secondary" for="reservationId"
              >Reservation ID</label
            >
            <input
              type="text"
              id="reservationId"
              class="form-control text-secondary"
              ngModel
              name="reservationId"
              pattern="[0-9 ]*"
              #reservationId="ngModel"
            />
            <span
              class="help-block text-secondary"
              *ngIf="!reservationId.valid && reservationId.touched"
              >Reservation ID must contain only numbers!</span
            >
          </div>
        </div>
        <div class="text-secondary text-center">
          <button class="btn btn-secondary btn-lg" type="submit">
            Check
          </button>
        </div>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header text-secondary">
    <h4 class="modal-title" id="modalTitle">{{ modalWindow.title }}</h4>
  </div>
  <div class="modal-body text-secondary">
    <p>{{ modalWindow.body }}</p>
  </div>
  <div class="modal-footer text-secondary text-center">
    <button class="btn btn-secondary btn-lg" (click)="modal.close()">
      Close
    </button>
  </div>
</ng-template>
