<div class="list-group-item clearfix" *ngFor="let car of availableCars">
  <div class="float-left">
    <h4 class="list-group-item-heading text-secondary">{{ car.brand }}</h4>
    <p class="list-group-item-text text-secondary">
      Price per hour: {{ car.cost }}$
    </p>
    <p class="list-group-item-text text-secondary">{{ car.description }}</p>
  </div>
  <span class="float-right">
    <img
      src="{{ car.imageUrl }}"
      alt="{{ car.brand }}"
      class="img-responsive"
      style="width:341.5px;height:192px;"
    />
    <br />
    <button
      class=" btn btn-secondary btn-lg"
      style="margin-top: 5px; width:341.5px"
      type="submit"
      (click)="onClicked(car.id)"
    >
      Rent
    </button>
  </span>
</div>
